<div>
<%= @event.title %>
Date : <%= @event.start_date %><br>
Durée : <%= @event.duration %><br>
Lieu : <%= @event.location %><br>
Description : <%= @event.description %><br>
Tarif : <%= @event.price %><br>
</div>

<% if user_signed_in? %> 
<p><a class="btn btn-primary btn-lg" href="<%= new_charge_path %>" role="button">Participer et passer à la caisse &raquo;</a></p>   

<% else %> 
<p><a class="btn btn-primary btn-lg" href="<%= new_user_registration_path %>" role="button">S'inscrire &raquo;</a></p>   
<% end %>