<!DOCTYPE html>
<html>
  <head></head>
  <body>
  	 <title>EvenbriteProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <link href="https://bootswatch.com/4/lux/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">EVENT AFTER ALL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <%= link_to "CRÉER UN EVENT", new_event_path, :class => "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MON COMPTE
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Voir mon profil", current_user, :class => "dropdown-item" %>
          <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, :class => "dropdown-item" %>
        </div>
      </li>
      <% else %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          S'INSCRIRE/SE CONNECTER
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Se connecter", new_user_session_path, :class => "dropdown-item" %>
          <%= link_to "S'inscrire", new_user_registration_path, :class => "dropdown-item" %>
        </div>
      </li>
      <% end %>

    </ul>
  </div>
</nav>
    <%= yield %>

    <p style="margin-bottom:45px;">

<article>
  <center><blockquote>
    <h4><em>"Le courage, le vrai, ça n'est pas d'attendre avec calme l'événement ; c'est de courir au devant, pour le connaître le plus tôt possible, et l'accepter."</em></h4>
</blockquote>

<cite><strong>Roger Martin Du Gard</strong></cite></center>
</article>

<p style="margin-bottom:150px;">

<center><div class="container">
   <!-- Example row of columns -->
   <div class="row">
     <div class="col-md-4">
       <p><i class="fab fa-angellist"></i></br>
        <p style="margin-bottom:50px;">
        <h3><strong>Performant</strong></h3>
       Un superbe site d'events.</p>
     </div>
     <div class="col-md-4">
      <i class="fas fa-american-sign-language-interpreting"></i>
      <p style="margin-bottom:50px;">
       <h3><strong>Sécurisé</strong></h3>
       <p>Payez en toute sécurité avec notre système THP SECURE.</p>
     </div>
     <div class="col-md-4">
      <i class="fas fa-award"></i>
      <p style="margin-bottom:50px;">
       <h3><strong>Ingénieux</strong></h3>
       <p>En fait, on n'est pas encore sûrs de tout.</p>
     </div>
   </div></center>
 <p style="margin-bottom:150px;">

      <footer id="footer" class="top-space">

    <div class="footer1">
      <div class="container">
        <div class="row">
          
          <div class="col-md-3 widget">
            <h3 class="widget-title">Contact</h3>
            <div class="widget-body">
              <p>On est sur le Slack!<br>
                Jonathan Gaultier (Joongau sur slack) <br>
                Rémi Auzou (pas de pseudo pour monsieur) <br>
                Dylan Langlois-Hérault (Dylan LH sur slack) <br>
                Cyrille Amaro (Howok sur slack) <br>
                Armand Duval (Urbain4 sur slack) <br>
                Adrien Bouet (Gale sur slack) <br>
                Salomé d'Audeteau (Fihiz sur slack)<br>
                Caen, 14000
              </p>  
            </div>
          </div>

          <div class="col-md-6 widget">
            <h3 class="widget-title">NOTE AUX VISITEURS</h3>
            <div class="widget-body">
              <p>On ne vit qu'une fois. YOLO<br>
              “On n'a jamais rien à gagner à tenter de créer soi-même un événement. L'événement c'est comme la plomberie, une affaire de spécialiste.”
            De Daniel Schneidermann / Où sont les caméras </p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </div>

    <div class="footer2">
      <div class="container">
        <div class="row">
          

          <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="text-right">
                Copyright &copy; 2019, Team Caen. Made with <i class="fas fa-heart"></i> from Caen.
              </p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </div>

  </footer> 

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
    $(".dropdown-toggle").dropdown();
  })
</script>
  </body>
</html>
